#game {
    background-color: #353535;
    width: 300px;
    height: 512px;
    margin: 0 25%;
}
#puntuaciones {
    display: inline-block;
    position: absolute;
    float: left;
    margin: 15px;
}
table {
    font-family: "Verdana";
    font-style: italic;
    font-size: 0.75em;
}